.social {

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: $gru30;
    margin-bottom: $gru30;

    @include breakpoint(md) {
        justify-content: space-around;

        margin-top: $gru60;
        margin-bottom: $gru60;
    }
}


    .social__icon {
        text-align: center;

        a {
            display: block;
            padding: $gru10;
        }
    }


        .social__icon__img {
            display: block;
            max-width: 22px;
            max-height: 22px;

            @include breakpoint(md) {
                max-width: 36px;
                max-height: 36px;
            }
        }
