<!doctype html>
<html lang="en" ng-app="FellowshipFinder">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Revival Fellowship</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/website.min.css">
</head>
<body ng-controller="FindFellowshipController as ffc">

    <!--HEADER-->
    <header class="header">
        <div class="header__container outer-container">
            <h1 class="header__logo">
                <a href="/">
                    <img src="assets/img/logo--with-title--cyan.svg"
                            alt="The Revival Fellowship logo"
                            class="header__logo__img">
                </a>
            </h1>
            <h2 class="header__tag">
                <img src="assets/img/title--one-fellowship-many-locations--colored--alt.svg"
                        alt="One Fellowship Many Locations"
                        class="header__tag__img">
            </h2>
            <div class="header__actions">
                <button class="header__actions__button button button--stretch" ng-click="ffc.useCurrentLocation()">Use Current Location</button>
                <button class="header__actions__button button button--stretch" ng-click="ffc.listAllFellowships()">List All Fellowships</button>
            </div>
        </div>
    </header>

    <!-- FIND A FELLOWSHIP -->
    <section class="find-fellow outer-container"
        ng-class="'find-fellow--' + ffc.stateService.state">

        <div class="find-fellow__header" ng-hide="ffc.stateService.state == 'locating' || ffc.stateService.state == 'single'">
            <h3 class="find-fellow__header__title">Find a fellowship</h3>
            <div class="find-fellow__header__actions">
                <button class="button"
                    ng-show="ffc.stateService.state == 'default'"
                    ng-click="ffc.useCurrentLocation()">
                    Use current location
                </button>
                <button class="button"
                    ng-show="ffc.stateService.state == 'default'"
                    ng-click="ffc.listAllFellowships()">
                    List all fellowships
                </button>
                <button class="button"
                    ng-show="ffc.stateService.state == 'list'"
                    ng-click="ffc.close()">
                    Close
                </button>
            </div>
        </div>

        <!-- LOCATING -->
        <div class="locating" ng-show="ffc.stateService.state == 'locating'">[locating]</div>

        <!-- SINGLE LOCATED FELLOWSHIP -->
        <div class="fellowship" ng-show="ffc.stateService.state == 'single'">
            [single fellowship]
        </div>

        <!-- SHIP LIST -->
        <div class="ship-list" ng-show="ffc.stateService.state == 'list'">
            <div class="ship-list__region" ng-repeat="fellowship in ffc.fellowshipsData">
                <div class="ship-list__region__header"
                    ng-click="ffc.toggleRegion($event, 1)">
                    <div class="ship-list__region__header__title">{{fellowship.region}}</div>
                    <div class="ship-list__region__header__icon ship-list__region__header__icon--arrow">
                        <img src="assets/img/icon--arrow-down-metalic.png" alt="">
                    </div>
                    <div class="ship-list__region__header__icon ship-list__region__header__icon--close">
                        <img src="assets/img/icon--close-white-transp.png" alt="">
                    </div>
                </div>

                <div class="ship-list__region__sub-header">
                    <div class="ship-list__region__sub-header__title">
                        Principle Pastor
                        <label class="ship-list__region__sub-header__title__label">
                            Pst Paul Nobel
                        </label>
                        <a href="#" class="ship-list__region__sub-header__title__contact-icon">
                            [mail icon]
                        </a>
                    </div>
                </div>

                <!-- SUB REGIONS -->
                <div class="ship-list__sub-region">
                    <h3 class="ship-list__sub-region__title">
                        South Australia
                    </h3>
                    <div class="ship-list__sub-region__fellowship">
                        <a class="ship-list__sub-region__fellowship__title">
                            Adelaide, Elizabeth SA
                        </a>
                    </div>
                    <div class="ship-list__sub-region__fellowship">
                        <a class="ship-list__sub-region__fellowship__title">
                            Adelaide, Elizabeth SA
                        </a>
                    </div>
                </div>
                <div class="ship-list__sub-region">
                    <h3 class="ship-list__sub-region__title">
                        New South Wales
                    </h3>
                    <div class="ship-list__sub-region__fellowship" ng-click="ffc.openFellowship($event, 2)">
                        <a class="ship-list__sub-region__fellowship__title">
                            Sydney NSW
                        </a>
                    </div>
                    <div class="ship-list__sub-region__fellowship">
                        <a class="ship-list__sub-region__fellowship__title">
                            Newcastle NSW
                        </a>
                    </div>
                </div>

                <!-- SINGLE FELLOWSHIP -->
                <div class="fellowship">
                    <div class="fellowship__header">
                        <div class="fellowship__header__info">
                            <h2 class="fellowship__header__info__title">Sydney Revival Fellowship</h2>
                            <h4 class="fellowship__header__info__sub-title">Sydney, NSW</h4>
                        </div>
                        <div class="fellowship__header__actions">
                            <div class="fellowship__footer__action">
                                <button class="button" ng-click="ffc.closeFellowship($event, 5)">Close</button>
                            </div>
                            <div class="fellowship__footer__action">
                                <a href="#">Correction</a>
                            </div>
                        </div>
                    </div>
                    <div class="fellowship__body">
                        <div class="fellowship__body__info">
                            <div class="fellowship__body__info__title">Sunday: 10:30am</div>
                            <div class="fellowship__body__info__sub-title">Pst Andrew Riggs</div>
                            <div class="fellowship__body__info__copy">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at consequatur eligendi, esse excepturi expedita fuga hic odit reiciendis suscipit.
                            </div>
                        </div>
                        <div class="fellowship__body__references">
                            <div class="fellowship__body____references__link">
                                <span>[icon]</span>
                                <a href="#">Link</a>
                            </div>
                            <div class="fellowship__body____references__link">
                                <span>[icon]</span>
                                <a href="#">Link</a>
                            </div>
                            <div class="fellowship__body____references__link">
                                <span>[icon]</span>
                                <a href="#">Link</a>
                            </div>
                            <div class="fellowship__body____references__link">
                                <span>[icon]</span>
                                <a href="#">Link</a>
                            </div>
                        </div>
                    </div>
                    <div class="fellowship__footer">
                        <div class="fellowship__footer__action">
                            <button class="button" ng-click="ffc.closeFellowship($event, 4)">Close</button>
                        </div>
                        <div class="fellowship__footer__action">
                            <a href="#">Correction</a>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </section>

    <!-- SOCIAL ICONS -->
    <section class="social outer-container">
        <div class="social__icon">
            <a href="https://www.youtube.com/therevivalfellowship">
                <img src="assets/img/icon--social--youtube.svg"
                        alt="Youtube icon"
                        class="social__icon__img">
            </a>
        </div>
        <div class="social__icon">
            <a href="https://www.facebook.com/TheRevivalFellowship/">
                <img src="assets/img/icon--social--facebook.svg"
                        alt="Facebook icon"
                        class="social__icon__img">
            </a>
        </div>
        <div class="social__icon">
            <a href="https://twitter.com/revfellowship">
                <img src="assets/img/icon--social--twitter.svg"
                        alt="Twitter icon"
                        class="social__icon__img">
            </a>
        </div>
        <div class="social__icon">
            <a href="https://www.instagram.com/revivalfellowship/">
                <img src="assets/img/icon--social--instagram.svg"
                        alt="Instagram icon"
                        class="social__icon__img">
            </a>
        </div>
        <div class="social__icon">
            <a href="https://tagboard.com/TRFlife/107976">
                <img src="assets/img/icon--social--life.png"
                        alt="TRF Life icon"
                        class="social__icon__img">
            </a>
        </div>
    </section>

    <!-- NEWS & EVENTS -->
    <section class="news-events outer-container">

        <div class="news-events__header">
            <h2 class="news-events__header__title">News &amp; Events</h2>
            <a class="news-events__header__submit">Submit Event</a>
        </div>

        <div class="news-events__main">
            <img src="assets/img/content/event-life.jpg"
                     alt="Life Convention"
                     class="news-events__main__img">
            <div class="news-events__main__info">
                <p class="news-events__main__info__copy">
                    Australian 2015 Convention, 6-8th June at the Gold Coast Convention Centre.
                    <a href="" class="hide-md">Register</a>
                </p>
                <a class="news-events__main__info__action button button--alt show-md">Register</a>
            </div>
        </div>
    </section>


    <!-- LINKS -->
    <section class="links outer-container">
        <div class="links__item">
            <a href="http://www.onemission-revival.org/">
                <img src="assets/img/content/link-one-mission.jpg"
                        alt="One Mission Club"
                        class="links__item__img">
            </a>
        </div>
        <div class="links__item">
            <a href="http://www.healedbygod.com.au/">
                <img src="assets/img/content/link-healed-by-god.jpg"
                        alt="Healed by God"
                        class="links__item__img">
            </a>
        </div>
        <div class="links__item">
            <a href="http://www.trftalkradio.com/">
                <img src="assets/img/content/link-talk-radio.jpg"
                        alt="TRF Talk Radio"
                        class="links__item__img">
            </a>
        </div>
        <div class="links__item">
            <a href="http://re-acts.com/">
                <img src="assets/img/content/link-re-acts.jpg"
                        alt="Re-acts"
                        class="links__item__img">
            </a>
        </div>
    </section>

    <!--FOOTER-->
    <footer class="footer outer-container">
        <div class="footer__action">
            <button class="button">Contact us</button>
        </div>
        <blockquote class="footer__quote">
            "Then Peter said unto them, Repent,
            and be baptized every one of you
            in the name of Jesus Christ for
            the remission of sins, and ye shall
            receive the gift of the Holy Ghost"
            <span class="footer__quote__author">ACTS 2v38</span>
        </blockquote>
        <img src="assets/img/logo--no-title--transp--small.png"
                alt="Small Revival Fellowship Logo"
                class="footer__icon">
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="assets/js/website.min.js"></script>


</body>
</html>
