.header {
    background-image: url('../img/bg--vectors--colored.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $colorSoftPeach;

    border-bottom: 2px solid hsla(183, 100%, 38%, 0.2); //$colorRobinsEggBlue
}


    .header__logo {

    }


    
    .header__country-map {
        background-image: url('../img/bg--map--white.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
