.header {
    position: relative;
    z-index: $zIndexHeader;
    padding: $gru20;

    @include breakpoint(md) {
        padding: $gru60 0;
    }
}


    .header__container {
        position: relative;
        z-index: $zIndexHeader + 1;

        @include breakpoint(md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }


    .header__logo {
        max-width: 32px;
        margin: 0;

        @include breakpoint(md) {
            max-width: 80px;
        }

        a {
            display: block;
        }
    }


        .header__logo__img {
            display: block;
        }


    .header__tag {
        max-width: 205px;
        margin: 0 auto;

        @include breakpoint(md) {
            max-width: 500px;
            margin: 0;
        }
    }


        .header__tag__img {}


            .header__tag__img--taller {

                @include breakpoint(lg) {
                    display: none;
                }
            }


            .header__tag__img--wider {
                display: none;

                @include breakpoint(lg) {
                    display: block;
                }
            }


    .header__actions {
        margin: auto;
        max-width: 180px;

        margin-top: $gru40;
        margin-bottom: $gru20;

        @include breakpoint(md) {
            display: none;
        }
    }


        .header__actions__button {

            &:first-child {
                margin-bottom: $gru15;
            }
        }


    .header__country-map {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        z-index: -1;

        background-position: 50% 35%;

        opacity: 0.75;

        @include breakpoint(md) {
            opacity: 0.40;
            background-position: 50% 35%;
        }
    }
