.links {
    margin-bottom: $gru30;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include breakpoint(md) {
        margin-bottom: $gru100;
    }
}


    .links__item {
        width: 48%;

        margin-bottom: $gru10;

        @include breakpoint(sm) {
            width: 24%;
        }

        a {
            display: block;
        }
    }


        .links__item__img {
            display: block;
        }





