.find-fellow {}


    .find-fellow__header {}


        .find-fellow__header__title {
            font-size: 18px;
            opacity: 0.4;
            text-transform: uppercase;
            font-weight: normal;

            @include breakpoint(sm) {
                font-size: 20px;
            }

            @include breakpoint(md) {
                font-size: 22px;
            }

            @include breakpoint(lg) {
                font-size: 24px;
            }
        }
