.find-fellow {}


    .find-fellow__header {}


        .find-fellow__header__title {
            font-size: 24px;
            opacity: 0.4;
            text-transform: uppercase;
            font-weight: normal;
        }