.find-fellow {}


    .find-fellow__header {
        display: none;

        @include breakpoint(md) {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-top: $gru40;
            margin-bottom: $gru40;
        }
    }


    .find-fellow__header__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .button {
            margin-left: $gru10;
        }
    }


    /* ---------------------------------------- /*
        (FELLOW)SHIP LIST
    /* ---------------------------------------- */

    .ship-list {}


        .ship-list__region {}


            .ship-list__region__header {}


                .ship-list__region__header__title {}


                .ship-list__region__header__icon {
                    display: none; // Default
                }


            .ship-list__region__sub-header {
                display: none; // Default
            }


        .ship-list__sub-region {
            display: none; // Default
        }
