.find-fellow {}


    .find-fellow__header {
        display: none;

        @include breakpoint(md) {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-top: $gru40;
            margin-bottom: $gru40;
        }
    }


    .find-fellow__header__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .button {
            margin-left: $gru10;
        }
    }


    /* ---------------------------------------- /*
        (FELLOW)SHIP LIST
    /* ---------------------------------------- */

    .ship-list {}


        .ship-list__region {}


            .ship-list__region__header {
                padding: 15px 15px 10px;

                display: flex;
                justify-content: space-between;
                align-items: center;
            }


                .ship-list__region__header__title {}


                .ship-list__region__header__icon {}


                    .ship-list__region__header__icon--arrow {

                        .ship-list__region--open & {
                            display: none;
                        }
                    }

                    .ship-list__region__header__icon--close {
                        display: none; // Default

                        .ship-list__region--open & {
                            display: block;
                        }
                    }


            .ship-list__region__sub-header {
                display: none; // Default

                .ship-list__region--open & {
                    display: block;
                }
            }


        .ship-list__sub-region {
            display: none; // Default

            .ship-list__region--open & {
                display: block;
            }
        }
