/* ---------------------------------------- /*
   VARIABLES
/* ---------------------------------------- */


/**
 * COLORS
 */
$colorWhite:            hsla(0,0%,100%,1);
$colorSoftPeach:        hsla(320, 21%, 95%, 1);
$colorRobinsEggBlue:    hsla(183, 100%, 38%, 1);


/**
 * Z-INDICES
 */
$zIndexHeader: 500;


/* ---------------------------------------- /*
   TEXT
/* ---------------------------------------- */

// Fonts


// Times
$timeQuick: 100ms;
$timeMovement: 185ms;
$timeInvisible: 80ms;
$timeNull: 0ms;


// Letter spacing
$letterSpacingSmall: 0.04em;
$letterSpacingMedium: 0.1em;
$letterSpacingLarge: 0.2em;
$letterSpacingHuge: 0.3em;


/* ---------------------------------------- /*
   SIZES AND MEASUREMENTS
/* ---------------------------------------- */

// Radials
$radiusTiny: 5px;
$radiusSmall: 10px;
$radiusMedium: 15px;


// GRID UNIT: gru
$gru2: 2px;
$gru5: 5px;
$gru10: 10px;
$gru15: 15px;
$gru20: 20px;
$gru30: 30px;
$gru45: 45px;
$gru60: 60px;




