.button {
    display: inline-block;
    text-align: center;

    border-radius: 5px;
    border: solid 1px $colorRobinsEggBlue;
    background-color: transparent;

    color: $colorRobinsEggBlue;
    text-transform: uppercase;
    font-weight: bold; //TODO: Update this when fonts are imported.

    font-size: 12px;
    line-height: 3;

    padding: 0 15px;
}


    .button[disabled=disabled] {
        opacity: 0.5;
    }


    .button--stretch {
        width: 100%;
    }
