/**
 * COMMON
 */

* {
    -webkit-font-smoothing: antialiased;
}

body {
    min-width: 320px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5 {}
